<br />  <br /><br />
<form action="/Home/AddToQueue">
    <label>Vrsta proizvoda</label>
    <input type="text" name="vrsta" />
    <label>Kolicina</label>
    <input type="text" name="kolicina" />
    <button type="submit">Poruci</button>
</form>
@Html.ActionLink("Sve poruzbine", "GetFromBlob");