<br />  <br /><br />
<form action="/Home/Izvrsi" method="post">
    <label>Ime prekidaca</label>
    <input type="text" name="naziv" />
    <label>Stanje</label>

    <select name="stanje">
        <option value="otvoreno">Otvoreno</option>
        <option value="zatvoreno">Zatvoreno</option>
    </select>
    <button type="submit">Posalji</button>
</form>

<form action="/Home/Istorija" method="post">
    <label>Ime prekidaca</label>
    <input type="text" name="naziv" />
    <button type="submit">Istorija</button>
</form>
