

<h1>Simuliraj distribuirani zahtev</h1>
<br />
<form action="/Home/Simulacija">
    <label>Unesite recenicu</label>
    <input type="text" name="recenica" />
    <button type="submit">Simuliraj</button>
</form>